* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f1e8;
    color: #33251e;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: 24px;
}

.login-contenedor {
    background-color: white;
    width: 430px;
    max-width: 100%;

    padding: 40px;

    border-radius: 16px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.login-contenedor h1 {
    text-align: center;
    margin-bottom: 10px;
}

.login-contenedor h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 20px;

    border: 1px solid #ccc;
    border-radius: 6px;

    font-size: 16px;
}

button {
    padding: 12px;

    border: none;
    border-radius: 6px;

    background-color: #8b5e3c;
    color: white;

    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #6f472d;
}

.logo-login {
    display: block;
    width: 260px;
    max-width: 100%;
    margin: 0 auto 20px auto;
}

.subtitulo-login {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: -10px;
    margin-bottom: 25px;
}

.volver-inicio {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #8b5e3c;
    text-decoration: none;
    font-weight: bold;
}

.volver-inicio:hover {
    text-decoration: underline;
}

.mensaje-error {
    min-height: 20px;
    margin-top: -10px;
    margin-bottom: 15px;
    text-align: center;
    color: #b3261e;
    font-weight: bold;
}
@media (max-width: 800px) {
    .login-contenedor {
        padding: 30px 24px;
    }
}
